:root {
  --primary-color: #363d4d;
  --primary-white: #fff;
  --primary-font: Montserrat, sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--primary-black);
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

button {
  font-family: var(--primary-font);
}

.nav {
  width: 100%;
  background-color: var(--primary-color);
  position: absolute;
  color: var(--primary-white);
  transition: 0.5s ease-in-out;
  height: 60px;
  opacity: 0;
}

.slide__animation {
  opacity: 1;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  gap: 10px;
  height: 100%;
}

.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60%;
  font-size: 13px;
  color: white;
  background-color: #f9bd2b;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.nav__close {
  cursor: pointer;
}

.showbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.showbar__button {
  border-radius: 50%;
  height: 90px;
  width: 95px;
  border: 3px solid #919191;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}
